<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/icons-extra.css"/>
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
	</head>
	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
			    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			    <h1 class="mui-title">卖出中心</h1>
			    <a href="javascript:;" class="mui-pull-right router-link" data-href='sell_list.html'>记录</a>
			</header>
			<div class="mui-content">		
				<div class="mui-scroll-wrapper" style="top: 44px;">
				    <div class="mui-scroll">			 
				    	<div class="mui-row assets-deal-top">
						    <div class="mui-col-xs-6">
						    	<p>{{bank1.money}}</p>
						    	<p>{{bank1.bankname}}</p>
						    </div>
						    <div class="mui-col-xs-6">
						    	<p>{{bank2.money}}</p>
						    	<p>{{bank2.bankname}}</p>
						    </div>
						</div>	
						<p class="roll-list-no" v-if='market.length<=0'>没有找到相关记录</p>
					    <ul class="mui-table-view" v-else>
				           <li class="mui-table-view-cell" v-for="(item,index) in market">
				              	<div class="mui-row">
				                  	<div class="buyin-center-l">
				                  		<img src="../images/m_header.jpg"/>
				                  	</div>
				                  	<div class="buyin-center-r mui-row">
				                  		<div class="mui-col-xs-6 bc-name">{{item.username}}</div>
				                  		<div class="mui-col-xs-6 bc-price">单价：{{item.oneprice}}</div>
				                  		<div class="mui-col-xs-6 bc-credit">信用：
				                  			<i class="mui-icon-extra mui-icon-extra-heart-filled" v-if='item.credit>=1'></i>
				                  			<i class="mui-icon-extra mui-icon-extra-heart-filled" v-if='item.credit>=2'></i>
				                  			<i class="mui-icon-extra mui-icon-extra-heart-filled" v-if='item.credit>=3'></i>
				                  			<i class="mui-icon-extra mui-icon-extra-heart-filled" v-if='item.credit>=4'></i>
				                  			<i class="mui-icon-extra mui-icon-extra-heart-filled" v-if='item.credit>=5'></i>
				                  		</div>
				                  		<div class="mui-col-xs-6 bc-type">数量：{{item.nonum}}</div>
				                  		<div class="mui-col-xs-6 bc-count" >实付金额：{{item.oneprice*item.nonum}}</div>				                  		
				                  		<div class="mui-col-xs-6 bc-ck">
				                  			<button type="button" class="mui-btn mui-btn-danger" @click='buytrade(item.id,item.nonum,item.oneprice,index)' v-if='username != item.username'>卖出</button>
				                  			<button type="button" class="mui-btn mui-btn-green" @click='canceltrade(item.id,item.nonum,item.oneprice,index)' v-else>撤销</button>
				                  		</div>
				                   	</div>
				              </div>
				           </li>	
				            <div id="getMore" @click="!isLoad && isMore && getMore()">
					        	<div v-if='isMore'>
						        	<div v-if="!isLoad">
						        		<p>点击加载更多</p>
						        		<i class="mui-icon mui-icon-arrowdown"></i>	
						        	</div>
						        	<div v-else class="isLoad">
						        		<p>正在加载</p>
						        		<i class="mui-icon mui-icon-loop"></i>
						        	</div>
					        	</div>	
					        	<div v-else>
					        		<p>没有更多了</p>
					        	</div>
					        </div>
				     	 </ul>				     
				    </div>
				</div>
			</div>	
			<div class="reload"></div>
		</div>	
		<script src="../js/mui.min.js"></script>
		<script src="../js/base.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
			new Vue({
			el: '#app',
			data:{
				market : [],
				credit : [],
//				finance : {},
				bank1:{},
				bank2:{},
				username : '',
				page:1,
				isLoad:false,
				isMore: true
			},
			created:function(){
				var user = localStorage.getItem("user")
				var vm = this	
				this.username = JSON.parse(user).username
				this.credit = []
				if(user){
					vm.getNote()
					vm.getFin()
				}else{
					openWindow('login/login.html')
				}
			},
			mounted:function(){		
				this.$nextTick(function(){
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
				})
			},
			methods:{	
				getMore:function(){
					this.isLoad = true 
					this.page += 1
					this.getNote()
				},
				getNote:function(){
					var vm = this;
					var user = localStorage.getItem('user');
					mui.ajax(apiUrl.market,{
						type:"post",
						data:{
							id: JSON.parse(user).id,
							page:vm.page,
							type:2
						},
						dataType:'json',
						success:function(data){	
							vm.isLoad = false
							if(data.status==0){
								mui.toast(data.msg)							
							}
							else if(data.status==1){
								if(data.data.trades.length==0){
									mui.toast('没有更多了')
									vm.isMore = false
									return false
								}
								for (var i=0 ;i<data.data.trades.length;i++) {
									vm.market.push(data.data.trades[i])
								}							
							}
						}
					});
				},
				getFin: function(){
					var vm = this
					var user = localStorage.getItem("user")
					mui.ajax(apiUrl.Index,{
						type:"post",
						data:{id: JSON.parse(user).id},
						dataType:'json',
						success:function(data){							
							if(data.status==0){
								mui.toast(data.msg)
							}
							else if(data.status==1){	
								vm.bank1 = data.data.walletamounts.bank1;
								vm.bank2 = data.data.walletamounts.bank2;
							}
						}
					});
				},
				canceltrade:function(id,num,price,index){
					var vm = this		
					var user = localStorage.getItem("user")
					var mask = mui.createMask()
					if(!user){
						openWindow('login/login.html')
						return false 
					}					
					mui.confirm('单价：'+price+'，数量：'+num+'', '确认撤销？',  ['撤销','取消'], function(e) {
						if (e.index == 0) {
							mui.ajax(apiUrl.canceltrade,{
								type:"post",
								data:{
									id: id,
									username: JSON.parse(user).username				 
								},
								dataType:'json',
								beforeSend: function() {			       
							        plus.nativeUI.showWaiting('提交中，请稍后');
		        					mask.show();//显示遮罩层
							    },
							    complete: function() {
							    	
							    },
								success:function(data){	
									plus.nativeUI.closeWaiting();
							        mask.close();//关闭遮罩层
									if(data.status==0){
										mui.toast(data.msg)
									}							
									else if(data.status==1){
										mui.toast(data.msg)
										vm.market.splice(index,1)
									}
								},
								error:function(){
									mui.toast('服务器连接超时，请稍后再试');
								}
							});
						} else {
							
						}
					},'div')
				},
				buytrade:function(id,num,price,index){
					var vm = this		
					var user = localStorage.getItem("user")
					var mask = mui.createMask()
					if(!user){
						openWindow('login/login.html')
						return false 
					}					
					mui.confirm('单价：'+price+'，数量：'+num+'', '确认出售？',  ['出售','取消'], function(e) {
						if (e.index == 0) {
							mui.ajax(apiUrl.buytrade,{
								type:"post",
								data:{
									id: id,
									buynum: num,
									username: JSON.parse(user).username				 
								},
								dataType:'json',
								beforeSend: function() {			       
							        plus.nativeUI.showWaiting('提交中，请稍后');
		        					mask.show();//显示遮罩层
							    },
							    complete: function() {
							    	
							    },
								success:function(data){	
									plus.nativeUI.closeWaiting();
							        mask.close();//关闭遮罩层
									if(data.status==0){
										mui.toast(data.msg)
									}							
									else if(data.status==1){
										mui.toast(data.msg)
										vm.market.splice(index,1)
										vm.getFin()
									}
								},
								error:function(){
									mui.toast('服务器连接超时，请稍后再试');
								}
							});
						} else {
						
						}
					},'div')										
				}
			}
		})	
		</script>
	</body>

</html>