<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
	</head>
	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
			    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			    <h1 class="mui-title">分享列表</h1>
			</header>
			<div class="mui-content">
				<nav class="buyin-list-nav">
					<div class="mui-row">
					    <div class="mui-col-xs-4">会员编号</div>
					    <div class="mui-col-xs-3">姓名</div>
					    <div class="mui-col-xs-5">审核日期</div>
					</div>
				</nav>		
				<div class="mui-scroll-wrapper" style="top: 84px;">
				    <div class="mui-scroll">
				    	<p v-if='shareList.length<=0' class="roll-list-no">没有找到相关记录</p>
				      	<table style="width: 100%;"  class="buyin-list" v-else>
				      		<tr v-for='item in shareList' @click="skip(item.id)">
				      			<td class="mui-col-xs-4">{{item.username}}</td>
				      			<td class="mui-col-xs-3">{{item.truename}}</td>
				      			<td class="mui-col-xs-5">{{item.pay_date | time}}</td>
				      		</tr>
				      	</table>
				      	<!--<div id="getMore" @click="!isLoad && isMore && getMore()">
				        	<div v-if='isMore'>
					        	<div v-if="!isLoad">
					        		<p>点击加载更多</p>
					        		<i class="mui-icon mui-icon-arrowdown"></i>	
					        	</div>
					        	<div v-else class="isLoad">
					        		<p>正在加载</p>
					        		<i class="mui-icon mui-icon-loop"></i>
					        	</div>
				        	</div>	
				        	<div v-else>
				        		<p>没有更多了</p>
				        	</div>
				        </div>-->
				    </div>
				</div>							
			</div>
			<div class="reload"></div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/base.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/qrcode.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">	
			mui.init()		
			new Vue({
				el: '#app',
				data:{
					shareList:[],
					page:1,
					isLoad:false,
					isMore: true
				},
				created:function(){
					var vm = this	
					var user = localStorage.getItem("user")
					if(user){
						vm.getNote()
					}else{
						openWindow('login/login.html')
					}
				},	
				mounted:function(){
					this.$nextTick(function(){
						mui('.mui-scroll-wrapper').scroll({
							deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
						});
					})
				},
				filters:{
					time:function(val){
						return timestampToTime(val)
					}
				},
				methods:{
//					getMore:function(){
//						this.isLoad = true 
//						this.page += 1
//						this.getNote()
//					},
					skip:function(ev){
						mui.openWindow({
							url:'share_list_two.html',
							id:'share_list_two.html',
							extras:{
								skipid:ev
							}
						})
					},
					getNote:function(){
						var vm = this
						var user = localStorage.getItem("user")
						mui.ajax(apiUrl.recommendinlist,{
							type:"post",
							data:{
								id: JSON.parse(user).id,
							},
							dataType:'json',
							success:function(data){	
								vm.isLoad = false
								if(data.status==0){
									mui.toast(data.msg)
								}
								else if(data.status==1){	
									if(JSON.stringify(data.data)=='{}'){
										mui.toast('没有更多了')
										vm.isMore = false
										return false
									}
									var datas = data.data;
//									console.log(JSON.stringify(datas));
//									for (var i=0;i<data.data.length;i++) {
//										vm.shareList.push(data.data[i])
//									}					
									for(key in datas){
            							vm.shareList.push(datas[key])
        							}
								}
							}
						});
					}
				}

			})	
		</script>
	</body>

</html>